<!DOCTYPE html>
<html>
  <head>
    <title>Gestor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
      <ul class="nav nav-tabs noborde">
        <li > <%= link_to "home", root_path %> </li>
        <li > <%= link_to "Nuevo Projecto", new_project_path %> </li>
      </ul>
  </div>
    <%= yield %>
  </body>
</html>
